node_modules
.pnpm-store
dist
build
.turbo
.env
.env.*
!.env.example
coverage
.DS_Store

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

*.tsbuildinfo
.vite

Thumbs.db
